@model CarRent.Models.CarModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">
         @Model.CarMark 
         @Model.Model 
            @if (Model.CategoryId == 1) { Write(" - CAR");}
            @if (Model.CategoryId == 2) { Write(" - MOTORBIKE");}
            @if (Model.CategoryId == 3) { Write(" - OTHER");}
</h1>

<div>
    
    <hr />
    <dl class="row col-sm-12">
        <div class="col-sm-6"><img class="col-sm-12" src="https://st.depositphotos.com/1987177/3470/v/950/depositphotos_34700099-stock-illustration-no-photo-available-or-missing.jpg"/></div>
       <div class="col-sm-6">
        <dt class = "h4 col-sm-2">
            @Html.DisplayNameFor(model => model.CarMark)
        </dt>
        <dd class = "col-sm-10 ml-4">
            @Html.DisplayFor(model => model.CarMark)
        </dd>
        <dt class = "h4 col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10 ml-4">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "h4 col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class = "col-sm-10 ml-4">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class = "h4 col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10 ml-4">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "h4 col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10 ml-4">
            @Html.DisplayFor(model => model.Price)
        </dd>
         <dt class = "h4 col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10 ml-4">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
         <dt class = "h4 col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10 ml-4">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "h4 col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class = "col-sm-10 ml-4">
            @Html.DisplayFor(model => model.Availability)
        </dd>
   
</div>
 </dl>
</div>

<div>
 @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.CarId}, new { @class = "btn btn-warning float-right "})
    }
    <a class="btn btn-dark float-right mr-2" asp-action="Index">Back to list</a>
</div>

